body {
    background-color: #FDF6E3;

    margin: 0;
    padding: 50px;

    Font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", SimSun, "宋体", sans-serif;
    font-size: 18px;
    color: #545454;

    line-height: 1.428571429;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3C82C5;
    font-family: 'Montserrat', Helvetica, Tahoma, Arial, STXihei, "华文细黑", SimSun, "宋体", sans-serif;
}

nav {
  font-family: 'Montserrat', Helvetica, Tahoma, Arial, STXihei, "华文细黑", SimSun, "宋体", sans-serif;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 12px;
  padding-bottom: 40px;
}

.navbar-custom {
  background-color: #3C82C5;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.body {
  width: 800px;
  margin: auto;
  overflow: hidden;
}

.article-subtitle {
  width: 500px;
}

.article-meta{
  font-size: 12px;
  text-align: right;
}

.article-title > span {
  font-size: 14px;
  vertical-align: bottom;
}
