body {
    background-color: #FDF6E3;

    margin: 0;
    padding: 0;

    font-family: Georgia, Tahoma, sans-serif, "Microsoft YaHei", "微软雅黑";
    font-size: 18px;
    color: #545454;

    line-height: 1.428571429;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3C82C5;
}

/*Default a css*/
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 12px;
  padding-bottom: 40px;
}