#author-picture {
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

#right-view {
    background-color: #EEE8D5;
    text-align: center;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#tags {
    text-align: left;
    margin-left: 12px;
}

#tags > ui > li {
    font-size: 14px;
}

p#PS {
    padding: 10px;
}