#author-picture {
    margin-top: 12px;    
    width: 160px;
    height: 160px;
}

#left-view {
    padding-right: 40px;
}

#right-view {
    background-color: #EEE8D5;
    text-align: center;
}

.community > a {
    display: block;
}

.community > a > img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}