#author-picture {
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

#right-view {
    background-color: #EEE8D5;
    text-align: center;
}

.body {
    width: 800px;
    margin: auto;
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.article-subtitle {
    width: 500px;
}

#tags > li {
    text-align: left;
    font-size: 14px;
    margin-left: 12px;
}

.article-meta{
    font-size: 12px;
}

.personallink{
    padding: 12px;
}

.personallink > span {
    color: #777;
}

p#PS {
    padding: 10px;
}