<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>

{% include 'navbar.html' %}

  <img id="picture" src="{{ author.photo }}"></img>

  <div id="about" class="container">
    <h1>About The Author</h1>
    <p>{{ author.introduction }}</p>
  </div>
  <div id="contact" class="container">
    <h1>Other Communities</h1>
    <div class="row">
      <a href="{{ author.github }}"><img src="/static/img/github.png" alt="github icon"><span>Github</span></a>
      <a href="{{ author.zhihu }}"><img src="/static/img/zhihu.png" alt="zhihu icon"><span>Zhihu</span></a>
    </div>
  </div>

  <a href="https://github.com/longjj/blog">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
      src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" />
  </a>

  {% include 'footer.html' %}
</body>

</html>