<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>

{% include 'navbar.html' %}

  <div id="banner" class="hidden-xs">
      <img src="/static/img/blogbanner.png" class="center-block"></img>
  </div>
  <img id="picture" src="{{ author.photo }}"></img>

  <div id="about" class="container">
    <h1>About The Author</h1>
    <p>{{ author.introduction }}</p>
  </div>
  <div id="contact" class="container">
    <h1>Other Communities</h1>
    <div class="row">
      <a href="{{ author.github }}"><img src="/static/img/github.png" alt="github icon"><span>Github</span></a>
      <a href="{{ author.zhihu }}"><img src="/static/img/zhihu.png" alt="zhihu icon"><span>Zhihu</span></a>
    </div>
  </div>

  {% include 'footer.html' %}
</body>

</html>