<!DOCTYPE html>
<html lang="en">

<head>
  <title>About {{ author.name }}</title>
  <link href="/static/css/base.css" type="text/css" rel="stylesheet" />
  <link href="/static/css/about.css" type="text/css" rel="stylesheet" />
  <link rel="shortcut icon" href="/static/img/favicon.png">
</head>

<body>
  <!--<img id="picture" src="{{ author.picture_url }}"></img>-->
  <img id="picture" src="/static/img/longj_photo.png"></img>

  <div id="about" class="container">
    <h1>About The Author</h1>
    <p>{{ author.introdution }}</p>
  </div>
  <div id="contact" class="container">
    <h1>Contact</h1>
    <p>
      Github: {{ author.github }} </br>
      email: {{ author.email }}
    </p>
  </div>

  <a href="https://github.com/longjj/blog">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
      src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" />
  </a>

  {% include 'footer.html' %}
</body>

</html>