<!DOCTYPE html>
<html lang="zh-cmn-Hans">

{% include 'header.html' %}

<body>
{% include 'navbar.html' %}
    <div class="hidden-xs">
        <img id="banner" src="/static/img/blogbanner.png" class="center-block"></img>
    </div>

    <div class="body container">
        <h1 class="text-capitalize">{{ class_type }} ({{ post_ids|length }})</h1>
        <div class="article-list">
            {% for post_id in post_ids|reverse %}
                <div class='row text-capitalize'>
                    <a href="{{ '/' + article_infos[post_id]['path_layer'][-1]}}">
                        <h3 class="article-title">
                            {{ article_infos[post_id]['title'] }}
                            {% if article_infos[post_id]['lang'] == "en"%}
                            <span class="label label-info pull-left">en</span>
                            {% elif article_infos[post_id]['lang'] == "zh-cmn-Hans"%}
                            <span class="label label-info pull-left">zh</span>
                            {% endif %}
                        </h3>
                        <h4 class="article-subtitle small text-muted">
                            {{ article_infos[post_id]['description'] }}
                        </h4>
                    </a>
                    <p class="article-meta text-lowercase">
                        {% for tag in article_infos[post_id]['tags'] %}
                        <a href="/tags/{{ tag }}">#{{ tag }}</a>
                        {% endfor %}
                        {{ article_infos[post_id]['date'] }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
    
    {% include 'footer.html' %}
</body>

</html>