<!DOCTYPE html>
<html lang="{{ article.lang }}">

<head>
    <title>{{ article.title }}</title>
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/base.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/article.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/solarized-light.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/favicon.png">
</head>

<body>
{% include 'navbar.html' %}

    <div id="banner">
        <img src="/static/img/blogbanner.png" class="center-block"></img>
    </div>

    <div id="content" class="container">
        <p class="text-muted">
            {% for tag in article.tags %}
            <a href="/tags/{{ tag }}">#{{ tag }}</a>
            {% endfor %}
            Posted on {{ article.date }}
        </p>
        {{ article.content }}
    </div>

    <a href="https://github.com/longjj/blog">
    <img style="position: fixed; top: 0; right: 0; border: 0;"
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" />
    </a>
  
    {% include 'footer.html' %}
</body>

</html>