<!DOCTYPE html>
<html lang="{{ article.lang }}">

{% include 'header.html' %}

<body>
{% include 'navbar.html' %}

    <div id="banner">
        <img src="/static/img/blogbanner.png" class="center-block"></img>
    </div>

    <div class="container body">
        <p class="text-muted">
            {% for tag in article.tags %}
            <a href="/tags/{{ tag }}">#{{ tag }}</a>
            {% endfor %}
            Posted on {{ article.date }}
        </p>
        {{ article_content }}
    </div>

    <a href="https://github.com/longjj/blog">
    <img style="position: fixed; top: 0; right: 0; border: 0;"
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" />
    </a>
  
    {% include 'footer.html' %}
</body>

</html>