<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ article.title }}</title>
    <link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/base.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/article.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/solarized-light.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="../static/img/favicon.png">
</head>

<body>
    <div id="banner">
        <img src="../static/img/blogbanner.png" class="center-block"></img>
    </div>

    <div id="content" class="container">
        <p>1st posted on {{ article.postdate }}, updated on {{ article.updatedate }}</p>
        {{ article.content }}
    </div>

    {% include 'footer.html' %}
</body>

</html>