<head>
    <link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet" />
    
</head>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Stuff -->
    {% if meta['page_type'] == "index" %}
      <title>{{ meta['site_name'] }} - {{ meta['site_shortdesc'] }}</title>
      <meta property="og:title" content="{{ meta['site_name'] }} - {{ meta['site_shortdesc'] }}"/>
      <meta name="description" content="{{ meta['site_description'] }}">
      <meta property="og:description" content="{{ meta['site_description'] }}"/>
      <meta property="og:type" content="profile"/>
      <meta property="og:type:proile:username" content="madflojo"/>
      <meta property="og:type:proile:first_name" content="Benjamin"/>
      <meta property="og:type:proile:last_name" content="Cane"/>
      <meta name="keywords" content="{%- for item in meta['site_keywords'] -%}{{ item }}, {%- endfor -%}">
    {% elif meta['page_type'] == "article" %}
      <title>{{ data['title'] }} | {{ meta['site_name'] }}</title>
      <meta property="og:title" content="{{ data['title'] }} | {{ meta['site_name'] }}"/>
      <meta name="description" content="{{ data['description'] }}">
      <meta property="og:description" content="{{ data['description'] }}"/>
      <meta property="og:type" content="article"/>
      <meta name="keywords" content="{% for item in data['cats'] %}{{ item }}, {% endfor %}{% for item in data['tags'] %}{{ item }}, {% endfor %}">
      <meta property="og:type:article:author" content="{{ meta['site_authorlink'] }}" \>
    {% else %}
      <title>{{ meta['additional_pages'][meta['page_type']]['title'] }} | {{ meta['site_name'] }}</title>
      <meta property="og:title" content="{{ meta['additional_pages'][meta['page_type']]['title'] }} | {{ meta['site_name'] }}"/>
      <meta name="description" content="{{ meta['site_description'] }}">
      <meta property="og:description" content="{{ meta['site_description'] }}"/>
      <meta property="og:type" content="website"/>
      <meta name="keywords" content="{%- for item in meta['site_keywords'] -%}{{ item }}, {%- endfor -%}">
    {% endif %}

    <meta property="og:url" content="{{ meta['site_url'] }}{{ data['full_url'] }}"/>
    <meta name="author" content="{{ meta['site_author'] }}">
    <link rel="author" href="{{ meta['site_authorlink'] }}" \>
    <meta property="og:image" content="{{ meta['site_thumbnail'] }}"/>
    <meta property="og:site_name" content="{{ meta['site_name'] }}"/>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap2.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/clean-blog2.css" rel="stylesheet">
</head>
