<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>

{% include 'navbar.html' %}

    <div class="hidden-xs">
        <img id="banner" src="/static/img/blogbanner.png" class="center-block"></img>
    </div>

    <div class="body container">
        <div class="row">
            <div id="left-view" class="container pull-left col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h1>The Latest 5 Posts</h1>

                <div class="article-list">
                    {% set num = 5 %}
                    {% for post_id in post_ids|reverse %}
                        {% if num > 0 %}
                            <div class='text-capitalize'>
                                <a href="{{ '/' + article_infos[post_id]['path_layer'][-1]}}">
                                    <h3 class="article-title img-circle">
                                        {{ article_infos[post_id]['title'] }}
                                        {% if article_infos[post_id]['lang'] == "en"%}
                                        <span class="label label-info pull-left">en</span>
                                        {% elif article_infos[post_id]['lang'] == "zh-cmn-Hans"%}
                                        <span class="label label-info pull-left">cn</span>
                                        {% endif %}
                                    </h3>
                                    <h4 class="article-subtitle small text-muted">
                                        {{ article_infos[post_id]['description'] }}
                                    </h4>
                                </a>
                                <p class="article-meta text-lowercase">
                                    {% for tag in article_infos[post_id]['tags'] %}
                                    <a href="/tags/{{ tag }}">#{{ tag }}</a>
                                    {% endfor %}
                                    {{ article_infos[post_id]['date'] }}
                                </p>
                            </div>
                            {% set num = num - 1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div id="right-view" class="container pull-right col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div>
                    <a href='/about.html'>
                        <img id="author-picture" class="center-block img-circle" src="{{ author.photo }}"></img>
                        <p>{{ author.name }}</p>
                    </a>
                </div>
                <div>
                    <p id="PS" class="center-block">{{ author.introduction }}</p>
                </div>
                <div class="community">
                    <a href="https://github.com/longjj" class="button button-glow button-rounded button-raised button-primary"><img src="/static/img/github.png" alt="github icon"><span>Github</span></a>
                    <a href="https://www.zhihu.com/people/longj-10/activities" class="button button-glow button-rounded button-raised button-primary"><img src="/static/img/zhihu.png" alt="zhihu icon"><span>Zhihu</span></a>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'footer.html' %}
</body>

</html>