<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ data.sitetitle }}</title>
    <link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/base.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/index.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="../static/img/favicon.png">
</head>


<body>

    <div id="banner">
        <img src="../static/img/blogbanner.png" class="center-block"></img>
    </div>

    <div class="body">
        <div id="left-view" class="container pull-left col-md-9">
            <h1>The Latest 5 Posts</h1>

            <div class="article-list container col-md-12">
                {% set num = 5 %}
                {% for post_id in post_ids|reverse %}
                    {% if num > 0 %}
                        <div class='row text-capitalize'>
                            <a href="{{ output_dir + '/' + article_infos[post_id]['url_friendly_name'] }}">
                                <h3 class="article-title">
                                    {{ article_infos[post_id]['title'] }}
                                </h3>
                                <h4 class="article-subtitle small text-muted">
                                    {{ article_infos[post_id]['description'] }}
                                </h4>
                            </a>
                            <p class="article-meta">{{ article_infos[post_id]['date'] }}</p>
                        </div>
                        {% set num = num - 1 %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div id="right-view" class="container pull-right col-md-3">
            <div class="row">
                <img id="author-picture" class="center-block img-circle" src="../static/img/longj_photo.png"></img>
                <p>Johnny Law</p>
            </div>
            <div class="row">
                <p id="PS" class="center-block">Personal Statement: {{ data.PS }}</p>
            </div>
            <div class="row">
                <ui id="tags" class="list-unstyled">
                {% for tag in data.tags %}
                    <li>{{ tag }}({{ data.tags[tag] }})</li> 
                {% endfor %}
                </ui>
            </div>
        </div>
    </div>

    <a href="https://github.com/longjj/blog">
        <img style="position: fixed; top: 0; right: 0; border: 0;"
            src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" />
    </a>
    
    {% include 'footer.html' %}
</body>

</html>