<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ data.sitetitle }}</title>
    <link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/base.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/index.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="../static/img/favicon.png">
</head>


<body>

    <div id="banner">
        <img src="../static/img/blogbanner.png" class="center-block"></img>
    </div>

    {% include 'navigate.html' %}

    <div class="container">
        <div id="left-view" class="container pull-left col-md-8">
            <h1>The Latest 5 Posts</h1>
            <ul id="article-list">
                {% for post in article_list %}
                    <li><a class="article" href="{{ post }}">{{ post }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="right-view" class="container pull-right col-md-4">
            <div class="row">
                <img id="author-picture" class="center-block img-circle" src="../static/img/longj_photo.png"></img>
                <p>Johnny Law</p>
            </div>
            <div class="row">
                <p id="PS" class="center-block">Personal Statement: {{ data.PS }}</p>
            </div>
            <div id="tags" class="row">
                {{ data.taglist }}
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>

</html>