    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="https://longjj.com">Johnny Law</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="longj-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left nav-pills">
                    <li>
                        <a href="/"><i></i> Home</a>
                    </li>
                    <li>
                        <a href="/archive.html"><i></i> Archive</a>
                    </li>
                    <li>
                        <a href="/about.html"><i></i> About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>